---
build_mode_str:
  - debug
  - debug-sanitizer
  - release
  - release-debug

upload_enabled:
  - true
  - false

build_tests:
  - true
  - false

network:
  - ucx
  - gex

gpu_enabled:
  - true
  - false

python:
  - 3.11
  - 3.12
  - 3.13

numpy_version:
  # Not 2.1.0 which segfaults on asarray() sometimes, see
  # https://github.com/numpy/numpy/pull/27249
  - ">=1.22,!=2.1.0"

cmake_version:
  - ">=3.26.4"

cuda_compiler:
  - cuda-nvcc
