# Global
* @magnatelee
* @Jacobfaib

# Python
legate @magnatelee
legate/timing @magnatelee
legate/driver @bryevdv
legate/tester @bryevdv
legate/util @bryevdv
legate/jupyter @eddy16112

# cmake
*.cmake @trxcllnt @jjwilke @Jacobfaib
CMakeLists.txt @trxcllnt @jjwilke @Jacobfaib

# CI
.github/ @sandeepd-nv @mag1cp1n @m3vaz @marcinz
continuous_integration @sandeepd-nv @mag1cp1n @m3vaz @marcinz
conda @sandeepd-nv @mag1cp1n @m3vaz @marcinz
scripts/ @trxcllnt @sandeepd-nv @mag1cp1n @m3vaz @marcinz

# cpp
src/ @magnatelee @Jacobfaib

# docs
docs/ @bryevdv @magnatelee
