# Global
* @magnatelee @Jacobfaib

# Python/Cython
*.py @nv-legate/python-reviewers
*.pyi @nv-legate/python-reviewers
*.pyx @nv-legate/python-reviewers
*.pxd @nv-legate/python-reviewers
src/python @nv-legate/python-reviewers
src/python/legate/jupyter @eddy16112
pyproject.toml @nv-legate/build-reviewers
setup.cfg @nv-legate/build-reviewers

# cpp
src/cpp @nv-legate/cpp-reviewers

# cmake
src/cmake @nv-legate/build-reviewers
*.cmake @nv-legate/build-reviewers
CMakeLists.txt @nv-legate/build-reviewers

# configure
config/ @nv-legate/python-reviewers @nv-legate/build-reviewers
configure @nv-legate/python-reviewers @nv-legate/build-reviewers
makefile @nv-legate/build-reviewers

# CI
.github/ @nv-legate/devops-reviewers
continuous_integration @nv-legate/devops-reviewers
conda @nv-legate/devops-reviewers
scripts/ @nv-legate/devops-reviewers

# docs
docs/ @nv-legate/docs-reviewers
*.md @nv-legate/docs-reviewers
*.rst @nv-legate/docs-reviewers

# Override for CODEOWNERS - last rule wins.
CODEOWNERS @magnatelee @manopapad @Jacobfaib
