# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
Language: Cpp
# BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
# This is deprecated
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes  # yamllint disable-line rule:truthy
BinPackArguments: false
BinPackParameters: false
# yamllint disable rule:colons
BraceWrapping:
  AfterClass:            false
  AfterControlStatement: false
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false
  # disabling the below splits, else, they'll just add to the vertical length of source files!
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
# yamllint enable rule:colons
BreakBeforeBinaryOperators: None
BreakBeforeBraces: WebKit
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeColon
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: true
ColumnLimit: 100
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# Kept the below 2 to be the same as `IndentWidth` to keep everything uniform
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
IncludeBlocks: Regroup
# yamllint disable rule:colons
IncludeCategories:
  - Regex:           '^("|<)legate_defines\.h("|>)'
    Priority:        1
  - Regex:           '^("|<)legate\.h("|>)'
    Priority:        2
  - Regex:           '^("|<)legate/.*\.(cu)?hp*("|>)'
    Priority:        10
  - Regex:           '^("|<)stl/.*\.h("|>)'
    Priority:        20
  - Regex:           '^("|<)(legion|realm).*'
    Priority:        30
  - Regex:           '^("|<)ucc/.*'
    Priority:        32
  - Regex:           '^<cuda/.*>'
    Priority:        35
  - Regex:           '^("|<)kvikio.*'
    Priority:        40
  - Regex:           '^("|<)highfive.*'
    Priority:        51
  - Regex:           '^("|<)hdf5.*'
    Priority:        62
  - Regex:           '^("|<)fmt.*'
    Priority:        63
  - Regex:           '^("|<)cpptrace.*'
    Priority:        64
  - Regex:           '^("|<)argparse.*'
    Priority:        65
  - Regex:           '^("|<)H5.*'
    Priority:        66
  - Regex:           '^("|<)clang.*'
    Priority:        67
  - Regex:           '^("|<)(gtest|gmock).*'
    Priority:        90
  - Regex:           '^".*'
    Priority:        100
  - Regex:           '^<.*'
    Priority:        200
IncludeIsMainRegex: '([-_](test|unittest))?$'
MainIncludeChar: Any
# yamllint enable rule:colons
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 2
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
# Enabling comment reflow causes doxygen comments to be messed up in their formats!
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11
StatementMacros:
# Be consistent with indent-width, even for people who use tab for indentation!
TabWidth: 2
UseTab: Never
Macros:
  - LEGATE_SCOPE_GUARD(x)=do { x } while (0)
  - LEGATE_SCOPE_FAIL(x)=do { x } while (0)
  - LEGATE_STL_UNSPECIFIED(...)=__VA_ARGS__
  - CPPTRACE_TRY=try
  - CPPTRACE_CATCH(x)=catch(x)
SeparateDefinitionBlocks: Always
WrapNamespaceBodyWithEmptyLines: Always
