*~
\#*#
*/typestubs/*
.#*
.DS_Store
*.a
*.d
*.o
*.so
*.gz
*.gcno
*.gcda
*.gcov
*.fluid
*.pyc
*.swp
*.log
*.bbl
*.blg
*.aux
*.json
*.dylib
install_info.py
/dist
/build*/
/legion
/install*
_skbuild/
config.mk
/docs/legate/build
docs/legate/source/api/python/generated/
docs/legate/source/generated/
*.egg-info
.cache
.coverage
.vscode
_cmake_test_compile
!cmake/versions.json
legate.code-workspace
*.prof
examples/cpp/build
tests/cpp/build
.legate-test-last-failed
out/
.artifacts/
venv/
!cmake/presets/*.json
!CMakePresets.json
arch-*
configure.log
reconfigure-*
*-arch
*_venv
_version.py
scripts/get_legate_arch\.py
