# SPDX-FileCopyrightText: Copyright (c) 2022-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0

command script import share/legate/lldb/smallvec_formatter.py
command script import share/legate/lldb/sharedptr_formatter.py
command script import share/legate/lldb/span_formatter.py
command script import share/legate/lldb/tuple_formatter.py

type synthetic add --python-class smallvec_formatter.SmallVectorChildrenProvider -x "^legate::detail::SmallVector<.*>$"
type summary add --skip-pointers --expand -F smallvec_formatter.smallvector_summary_formatter -x "^legate::detail::SmallVector<.*>$"

type synthetic add --python-class sharedptr_formatter.SharedPtrChildrenProvider -x "^legate::(Internal)?SharedPtr<.*>$"
type summary add --skip-pointers --expand -F sharedptr_formatter.sharedptr_summary_formatter -x "^legate::(Internal)?SharedPtr<.*>$"

type synthetic add --python-class span_formatter.SpanChildrenProvider -x "^cuda::std::.*span<.*>$"
type summary add --skip-pointers --expand -F span_formatter.span_summary_formatter -x "^cuda::std::.*span<.*>$"

type synthetic add --python-class tuple_formatter.TupleChildrenProvider -x "^legate::tuple<.*>$"
type summary add --skip-pointers --expand -F tuple_formatter.tuple_summary_formatter -x "^legate::tuple<.*>$"
