# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        types: [yaml]
        args: ['-c', './scripts/pre-commit/yamllint.yml']
        exclude: 'meta\.yaml$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json  # checks that all json files have proper syntax
      - id: check-toml  # checks that all toml files have proper syntax
      - id: end-of-file-fixer  # check all files end in a newline
        # handled by clang-format
        exclude_types: [c, c++, cuda]
      - id: pretty-format-json
        args: ['--autofix', '--indent=4']
      - id: trailing-whitespace  # remove trailing whitespace
        # don't mess up diff files
        exclude: '^src/cmake/patches/.*\.diff$'
        # handled by clang-format
        exclude_types: [c, c++, cuda]
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
  # These hooks perform formatting or other related changes, and therefore should run
  # before clang-format and clang-tidy do. This way, if they do make changes, we can do
  # them and the formatting changes in 1 pass instead of multiple.
  - repo: local
    hooks:
      - id: angle-includes
        name: angle-includes
        description: "Transform '' includes to <>"
        entry: ./scripts/pre-commit/angle_includes.py
        language: script
        types_or: [c++, c, cuda]
        stages: [pre-commit]
      - id: copyright
        name: copyright
        description: 'Check that year is correct for copyright notices'
        entry: ./scripts/pre-commit/copyright.py
        language: python
        exclude: '.*\.(png|pdf)|^(share/legate/realm_ucp_bootstrap/.*)$'
        types_or: [file, text]
      - id: legate-assert
        name: legate-assert
        description: 'Find uses of assert() that should be using LegateAssert()'
        entry: ./scripts/pre-commit/legate_assert.py
        language: python
        'types_or': [c++, c, cuda]
        stages: [pre-commit]
        exclude: '^(src/cpp/legate/utilities/assert\.h|src/cpp/legate/utilities/abort.h)$'
      - id: c-begone
        name: c-begone
        description: 'Convert C standard library functions and types to C++ equivalent'
        entry: ./scripts/pre-commit/c_begone.py
        language: python
        'types_or': [c++, c, cuda]
        stages: [pre-commit]
        exclude: '^(src/cpp/legate/utilities/abort.h|share/legate/mpi_wrapper/.*|share/legate/realm_ucp_bootstrap/.*|src/cpp/legate/utilities/detail/dlpack/dlpack\.h)$'
      - id: traced-throw
        name: traced-throw
        description: 'Convert throw statements to throwing legate TracedException'
        entry: ./scripts/pre-commit/traced_throw.py
        language: python
        'types_or': [c++, c, cuda]
        stages: [pre-commit]
        exclude: '^tests/cpp/.*$'
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--toml=./pyproject.toml", "--write-changes"]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v21.1.5'
    hooks:
      - id: clang-format
        files: \.(cu|cuh|h|hpp|cc|inl)$
        types_or: []
        exclude: '^(share/legate/realm_ucp_bootstrap/.*)$'
  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse-lint-file
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--config=./pyproject.toml", "--fix"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'
    hooks:
      - id: mypy
        pass_filenames: false
        args: ['src', 'tests', 'config', 'test.py', 'scripts/release']
        # config/ensure_aedifix.py as well in case aedifix version changes
        additional_dependencies: [
          numpy,
          pytest,
          pytest_mock,
          types-psutil,
          rich,
          h5py,
          nvidia-ml-py,
          "dask[distributed]",
          "git+https://github.com/nv-legate/aedifix@1.10.0"
        ]
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.18.1
    hooks:
      - id: cython-lint
      - id: double-quote-cython-strings
  - repo: https://github.com/netromdk/vermin
    rev: 'v1.7.0'
    hooks:
      - id: vermin
        args: [
          '-vvv',
          '--violations',
          '--eval-annotations',
          '--target=3.11-',
          '--exclude-regex=".*venv/"',
          '--exclude-regex="arch-.*/"'
        ]
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: '3.0.0'
    hooks:
      - id: shellcheck
        args: ['--rcfile', './scripts/pre-commit/shellcheckrc']
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        types: [yaml]
        files: ^\.github/workflows/
        exclude: ^\.github/workflows/ci-gh-nightly-release\.yml$  # YAML anchors unsupported by actionlint yet (see rhysd/actionlint#133)
        args: [-config-file=scripts/pre-commit/actionlint.yml]
        entry: env SHELLCHECK_OPTS="--enable=all --severity=style" actionlint
  - repo: local
    hooks:
      - id: legate-defined
        name: legate-defined
        description: 'Find uses of ifdef LEGATE_ that should be using LegateDefined()'
        entry: ./scripts/pre-commit/legate_defined.py
        language: python
        types_or: [c++, c, cuda]
        stages: [pre-commit]
        additional_dependencies:
          - rich
      - id: no-default
        name: no-default
        description: "Ban the use of default: in switch statements"
        entry: ./scripts/pre-commit/no_default.py
        language: python
        'types_or': [c++, c, cuda]
        stages: [pre-commit]
        exclude: '^tests/cpp/.*$'
        additional_dependencies:
          - rich
      - id: ascii-only
        name: ascii-only
        description: "Make sure only ASCII characters are used in source files"
        entry: ./scripts/pre-commit/ascii_only.py
        language: python
        types_or: [file, text]
        exclude: '.*\.(png|pdf)$'
        additional_dependencies:
          - rich
      - id: cmake-format
        name: cmake-format
        entry: ./scripts/pre-commit/cmake-format.bash cmake-format
        language: python
        types: [cmake]
        exclude: '^(share/legate/realm_ucp_bootstrap/CMakeLists.txt|share/legate/realm_ucp_bootstrap/cmake/Config.cmake.in|continuous_integration/scripts/ucc-cmake-config/.*.cmake)$'
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
      - id: cmake-lint
        name: cmake-lint
        entry: ./scripts/pre-commit/cmake-format.bash cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
      - id: dej2lint
        name: dej2lint
        description: 'Run yamllint on meta.yaml files, removing Jinja2 directives'
        entry: python scripts/pre-commit/dej2lint.py
        language: python
        files: meta\.yaml$
        args: ['-c', './scripts/pre-commit/yamllint.yml']
        additional_dependencies: ['yamllint']
      - id: check_cmake_format
        name: check_cmake_format
        description: 'Check that cmake-format.json is properly filled out with function signatures'
        entry: ./scripts/pre-commit/check_cmake_format.py
        args: ['--input-file', './scripts/pre-commit/cmake-format-legate.json']
        language: python
        types: [cmake]
        require_serial: true
        additional_dependencies:
          - cmakelang

ci:
  autoupdate_schedule: quarterly

default_language_version:
  python: python3
