# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

cmake>=3.26.4,!=3.30.0
ninja
scikit-build-core[pyproject]>=0.10.0
setuptools_scm
# 3.2.6 triggers https://github.com/cython/cython/issues/7767
cython>=3.0.1,!=3.2.6
h5py
