# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
name: Build and Test

concurrency:
  group: >-
    ${{
      (github.ref == 'refs/heads/main' || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

on:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "branch-*"
      - "main"
  merge_group:

jobs:
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'cigh-legate'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main

  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
          - cpu
        build-mode:
          - release
    uses:
      ./.github/workflows/gh-build-and-test.yml
    needs: [telemetry-setup]
    with:
      build-mode: ${{ matrix.build-mode }}
      build-type: ci
      network: ucx
      platform: ${{ matrix.platform }}
      python-version: "3.13"
      target-device: ${{ matrix.target-device }}
      build-has-tests: true
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  tests-pass:
    if: always()
    needs:
      - build-and-test
    runs-on: linux-amd64-cpu4
    timeout-minutes: 15
    steps:
      - name: Check job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1

  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces as the telemetry service is not available on GitHub-hosted runners.
    runs-on: linux-amd64-cpu4
    needs: [telemetry-setup, tests-pass]
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
      OTEL_SERVICE_NAME: 'cigh-legate'
