name: Build conda Nightly release package

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'  # Nightly at 10:00 PM

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        ucx-enabled:
          - true
          - false
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
          - cpu
        build-mode:
          - debug
          - debug-sanitizer
          - release
          - release-debug
        upload-enabled:
          - true
          - false
        exclude:
          - build-mode: debug
            ucx-enabled: true
          - build-mode: debug-sanitizer-gcc
            ucx-enabled: true
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      platform: ${{ matrix.platform }}
      target-device: ${{ matrix.target-device }}
      build-mode: ${{ matrix.build-mode }}
      ucx-enabled: ${{ matrix.ucx-enabled }}
      build-type: release
      upload-enabled: ${{ matrix.upload-enabled }}
    secrets: inherit
