# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: ci

on:
  push:
    branches:
      - "branch-*"
      - "main"

defaults:
  run:
    shell: bash

jobs:
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'ci-legate'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main

  source-build-cpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-cpu.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
  source-test-cpu:
    needs: source-build-cpu
    secrets: inherit
    uses: ./.github/workflows/source-test-cpu.yml
    with:
      build-type: pull-request

  source-build-gpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-gpu.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
  source-test-gpu:
    needs: [source-build-gpu, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/source-test-gpu.yml
    with:
      build-type: pull-request

  wheels-build:
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
  wheels-test:
    needs: [wheels-build, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
  wheels-mac:
    name: wheels-mac (optional)
    secrets: inherit
    uses: ./.github/workflows/wheels-mac.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request

  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces as the telemetry service is not available on GitHub-hosted runners.
    runs-on: linux-amd64-cpu4
    needs: [telemetry-setup, wheels-build, wheels-test, wheels-mac, source-test-cpu, source-test-gpu]
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
      OTEL_SERVICE_NAME: 'ci-legate'
