# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: ci

on:
  push:
    branches:
      - "branch-*"
      - "main"

defaults:
  run:
    shell: bash

jobs:
  source-build-cpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-cpu.yml
    with:
      build-type: pull-request
  source-test-cpu:
    needs: source-build-cpu
    secrets: inherit
    uses: ./.github/workflows/source-test-cpu.yml
    with:
      build-type: pull-request

  source-build-gpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-gpu.yml
    with:
      build-type: pull-request
  source-test-gpu:
    needs: source-build-gpu
    secrets: inherit
    uses: ./.github/workflows/source-test-gpu.yml
    with:
      build-type: pull-request

  wheels-build:
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    with:
      build-type: pull-request
  wheels-test:
    needs: wheels-build
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
  wheels-mac:
    name: wheels-mac (optional)
    secrets: inherit
    uses: ./.github/workflows/wheels-mac.yml
    with:
      build-type: pull-request
