# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
on:
  workflow_call:
    inputs:
      platform:
        type: string
        required: true
      ref-sha:
        required: false
        type: string
        default: ''
      target-device:
        type: string
        required: true
      build-mode:
        type: string
        required: true
      upload-docs-to-gh-pages:
        type: boolean
        required: false
        default: false
      cuda-version:
        type: string
        required: false

jobs:
  build-docs:
    if: ${{ github.repository_owner == 'nv-legate' }}
    uses:
      nv-legate/legate-gh-ci/.github/workflows/gh-build.yml@v1.44
    with:
      build-has-tests: false
      client-repo: ${{ github.event.repository.name }}
      client-ref: ${{ inputs.ref-sha }}
      target-device: ${{ inputs.target-device }}
      runs-on: ${{ (inputs.platform == 'linux' && 'linux-amd64-cpu16') || (inputs.platform == 'mac' && 'macos-latest') }}
      build-type: docs
      use-container: ${{ inputs.platform == 'linux' }}
      platform: ${{ inputs.platform }}
      legate-gh-ci-tag: "v1.44"
      build-mode: ${{ inputs.build-mode }}
      network: "ucx"
      python-version: "3.13"
      setup-python-proxy-cache: true
      timeout: 60
      cuda-version: ${{ inputs.cuda-version }}
      docker-image: "condaforge/miniforge3:25.3.1-0"
    secrets: inherit

  upload-docs-to-gh-pages:
    if: ${{ inputs.upload-docs-to-gh-pages && github.ref_name == 'main' }}
    needs: build-docs
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Dump build-docs output variables
        shell: bash --noprofile --norc -xeuo pipefail {0}
        run: |
          echo "${{ needs.build-docs.outputs.artifact-name }}"
          echo "${{ needs.build-docs.outputs.artifacts-dir }}"

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build-docs.outputs.artifact-name }}
          path: ${{ needs.build-docs.outputs.artifacts-dir }}

      - name: Display structure of downloaded artifacts
        shell: bash --noprofile --norc -xeuo pipefail {0}
        run: |
          pwd
          ls -lahR ${{ needs.build-docs.outputs.artifacts-dir }}

      - name: Find index.html's parent folder
        shell: bash --noprofile --norc -xeuo pipefail {0}
        id: find_docs_dir
        run: |
          FILE_PATH="$(
            find "${{ needs.build-docs.outputs.artifacts-dir }}" -name "index.html" -printf '%d %p\n' \
              | sort -nk1 \
              | cut -d' ' -f2- \
              | head -n 1
          )"
          if [[ -z "${FILE_PATH}" ]]; then
            echo "index.html not found" >&2
            exit 1
          fi
          PARENT_DIR=$(dirname "${FILE_PATH}")
          echo "docs_dir=${PARENT_DIR}" >> "${GITHUB_OUTPUT}"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ${{ steps.find_docs_dir.outputs.docs_dir }}
          token: ${{ secrets.NV_LEGATE_INTER_REPOS_ACCESS }}
          repository-name: "nv-legate/legate"
