# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "branch-*"
      - "main"

concurrency:
  group: >-
    ${{
      (github.ref == 'refs/heads/main' || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  source-build-cpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-cpu.yml
    with:
      build-type: pull-request
  source-test-cpu:
    needs: source-build-cpu
    secrets: inherit
    uses: ./.github/workflows/source-test-cpu.yml
    with:
      build-type: pull-request

  source-build-gpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-gpu.yml
    with:
      build-type: pull-request
  source-test-gpu:
    needs: source-build-gpu
    secrets: inherit
    uses: ./.github/workflows/source-test-gpu.yml
    with:
      build-type: pull-request

  wheels-build:
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    with:
      build-type: pull-request
  wheels-test:
    needs: wheels-build
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
  wheels-mac:
    name: wheels-mac (optional)
    secrets: inherit
    uses: ./.github/workflows/wheels-mac.yml
    with:
      build-type: pull-request
      matrix_filter: '[max_by(.PY_VER|split(".")|map(tonumber))]'
  source-tests-pass:
    if: always()
    needs:
      - source-build-cpu
      - source-build-gpu
      - source-test-cpu
      - source-test-gpu
      - wheels-build
      - wheels-test
    runs-on: linux-amd64-cpu4
    steps:
      - name: Check job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
