# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES.
#                         All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: >-
    ${{
      (github.ref == 'refs/heads/main' || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'pr-legate'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main

  source-build-cpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-cpu.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
  source-test-cpu:
    needs: [source-build-cpu, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/source-test-cpu.yml
    with:
      build-type: pull-request

  source-build-gpu:
    secrets: inherit
    uses: ./.github/workflows/source-build-gpu.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
  source-test-gpu:
    needs: [source-build-gpu, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/source-test-gpu.yml
    with:
      build-type: pull-request

  wheels-build:
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
      matrix_filter: group_by(.ARCH) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheels-test:
    needs: [wheels-build, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
      matrix_filter: group_by(.ARCH) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheels-mac:
    name: wheels-mac (optional)
    secrets: inherit
    uses: ./.github/workflows/wheels-mac.yml
    needs: [telemetry-setup]
    with:
      build-type: pull-request
      matrix_filter: '[max_by(.PY_VER|split(".")|map(tonumber))]'
  source-tests-pass:
    if: always()
    needs:
      - source-build-cpu
      - source-build-gpu
      - source-test-cpu
      - source-test-gpu
      - wheels-build
      - wheels-test
    runs-on: linux-amd64-cpu4
    steps:
      - name: Check job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1

  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces as the telemetry service is not available on GitHub-hosted runners.
    runs-on: linux-amd64-cpu4
    needs: [telemetry-setup, source-tests-pass, wheels-mac]
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
      OTEL_SERVICE_NAME: 'pr-legate'
